.rogers_00 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_01 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_02 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_03 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_04 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_05 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_06 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_07 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_08 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_09 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_10 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_11 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_12 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_13 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_14 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_15 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_16 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_17 {
  /*color: blue;*/
  background-color: yellow;
}
.duval_00 {
  /*color: blue;*/
  background-color: blue;
}
.duval_01 {
  /*color: blue;*/
  background-color: blue;
}
.duval_02 {
  /*color: blue;*/
  background-color: blue;
}
.duval_03 {
  /*color: blue;*/
  background-color: blue;
}
.duval_04 {
  /*color: blue;*/
  background-color: blue;
}
.dornemburg_00 {
  /*color: blue;*/
  background-color: brown;
}
.dornemburg_01 {
  /*color: blue;*/
  background-color: brown;
}
.dornemburg_02 {
  /*color: blue;*/
  background-color: brown;
}
.dornemburg_03 {
  /*color: blue;*/
  background-color: brown;
}
.dornemburg_04 {
  /*color: blue;*/
  background-color: brown;
}
.iec156_00 {
  /*color: blue;*/
  background-color: red;
}
.iec156_01 {
  /*color: blue;*/
  background-color: red;
}
.iec156_02 {
  /*color: blue;*/
  background-color: red;
}
.iec156_03 {
  /*color: blue;*/
  background-color: red;
}
.iec156_04 {
  /*color: blue;*/
  background-color: red;
}
.laborelec_00 {
  /*color: blue;*/
  background-color: green;
}
.laborelec_01 {
  /*color: blue;*/
  background-color: green;
}
.laborelec_02 {
  /*color: blue;*/
  background-color: green;
}
.laborelec_03 {
  /*color: blue;*/
  background-color: green;
}
.laborelec_04 {
  /*color: blue;*/
  background-color: green;
}
.laborelec_05 {
  /*color: blue;*/
  background-color: green;
}
.laborelec_06 {
  /*color: blue;*/
  background-color: green;
}
.laborelec_07 {
  /*color: blue;*/
  background-color: green;
}
