.rogers_00 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_01 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_02 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_03 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_04 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_05 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_06 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_07 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_08 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_09 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_10 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_11 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_12 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_13 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_14 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_15 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_16 {
  /*color: blue;*/
  background-color: yellow;
}
.rogers_17 {
  /*color: blue;*/
  background-color: yellow;
}


