.center-modal .modal-dialog{
    /*position: fixed;*/
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 100%;
    margin-left: -10%;
}
.form-control{
	width: 95%;
	padding: 1%;
}
.mainContainer{
	padding-top: 30px;
}
.imageButton{
    margin-left: 10px;
    /*margin-right: 10px;*/
    height:35px;
    width: 25px;
}
table {
  display: block;
  height: 250px;
  overflow-y: scroll;
}

