<!-- CONTAINER GERAL -->
<div class="container">

    <form>
    <!-- TABS CROMA E FQ -->
    <div >
      <h1 id="tabs" >Cadastrar Equipamento</h1>
<br>
      <!-- CAIXA DADOS GERAIS -->
      <div class="col-xs-10">
          <!-- <h2 id="tabs" class="bs-docs-after">Dados Gerais</h2> -->
          <div class = 'form-group'>
          <label><strong>Tag do Equipamento:</strong></label>   
          <input type="text" class="form-control input-lg " ng-model="formData.tag" required autofocus></input>
          
          
          <label><strong>Número de Série:</strong></label>  
          <input type="text" class="form-control input-lg " ng-model="formData.nSerie" required></input>
          
          <label><strong>Fabricante:</strong></label>   
          <input type="text" class="form-control input-lg text-left " ng-model="formData.fabricante" required></input>
          
          <label><strong>Data de Fabricação:</strong></label>   
          <input type="date" class="form-control input-lg text-left " ng-model="formData.dataDeFabricacao" required></input>

          <label><strong>Data do Último Reparo:</strong></label>   
          <input type="date" class="form-control input-lg text-left " ng-model="formData.dataDoUltimoReparo" required></input>

          <div >
              <label>Modelo</label>
              <select ng-model="formData.tipo" class="form-control" id="sel1">
                <option>Escolha um Modelo de Equipamento...</option>
                  <option>Transformador</option>
                  <option>Comutador</option>
              </select>
          </div>

          <div class="form-group">
              <label>Local</label>
              <select ng-model="formData.local" class="form-control" id="sel1">
                <option>Escolha o Local...</option>
                  <option>SE-1A_ADMINISTRACAO</option>
                  <option>SE-2A_OFICINA_MANUT</option>
                  <option>SE-<3B_CAPTACAO class="drw"></3B_CAPTACAO></option>
                  <option>SE-3A_PRINCIPAL</option>
                  <option>SE-3C_CUT_1</option>
                  <option>SE-3D_CUT_2</option>
                  <option>SE-3E</option>
                  <option>SE-3F</option>
                  <option>SE-3G_STRA</option>
                  <option>SE-5A_ACIARIA 1</option>
                  <option>SE-5B_ACIARIA 2</option>
                  <option>SE-5C-D_P SUC</option>
                  <option>SE-5F_DESP</option>
                  <option>SE-5G_SHREDDER</option>
                  <option>SE-6A_LAMINACAO_1</option>
                  <option>SE-6B_LAMINACAO_2</option>
                  <option>SE-6D_ LAMINACAO_3</option>
                  <option>SE-6E_ LAMINACAO_3</option>
                  <option>SE-8A</option>
                  <option>SE-8B_TREFILA_2</option>
                  <option>SE-8C_TREFILA_2</option>
                  <option>SE-8D_TREFILA_2</option>
                  <option>SSE-8E_TREFILA_1</option>
                  <option>Cadastrar Novo Local</option>
              </select>
            <div>

                 <label>Potência (kVA)</label>
        <input type="text" class="form-control input-lg text-left"  ng-model="formData.potencia" required>

        <div class="form-group">
              <label>Tensão (kV)</label>
              <select ng-model="formData.tensao" class="form-control" id="sel1">
                <option>Escolha uma Tensão</option>
                  <option>138/33</option>
                  <option>138/23</option>
                  <option>33/4.16</option>
                  <option>33/13.8</option>
                  <option>33/0.44</option>
                  <option>33/0.38</option>
                  <option>23/4.16</option>
                  <option>23/13.8</option>
                  <option>23/0.44</option>
                  <option>23/0.38</option>    
                  <option>Cadastrar Nova</option>
          </select>
        </div>

        <div class="form-group">
          <label>Comutação com Carga</label>
          <select ng-model="formData.comutacaoComCarga" class="form-control" id="sel1">
            <option>Escolha...</option>
              <option>Sim</option>
              <option>Não</option>
          </select>
        </div>

        <div class="form-group">
          <label>Tanque Separado</label>
          <select ng-model="formData.tanqueSeparado" class="form-control" id="sel1">
            <option>Escolha...</option>
              <option>Sim</option>
              <option>Não</option>
          </select>
        </div>      

        <div class="form-group">
          <label>Tipo de Óleo</label>
          <select ng-model="formData.tipoDeOleo" class="form-control" id="sel1">
            <option>Escolha um Tipo de Óleo</option>
              <option>Mineral</option>
              <option>Vegetal</option>
          </select>
        </div>

        <label>Volume de Óleo (m<sup>3</sup>)</label>
        <input type="text" class="form-control input-lg text-left" ng-model="formData.volumeDeOleo" required>
            
        <label>Sistema de Prevenção</label>
        <input type="text" class="form-control input-lg text-left" ng-model="formData.sistemaDePrevencao" required> 



            </div>
      </div><!-- FIM CAIXA DADOS GERAIS -->

      <!-- CAIXA DADOS TECNICOS-->
      <div  data-example-id="togglable-tabs">

        <!-- BOTAO SALVAR -->
        </div class = "cadastrar" >
            <!-- <button type="submit" class="btn btn-default btn-lg">Voltar</button>                -->
            <button type="cancelar" class="btn btn-default btn-lg" ng-click="cancel()">Cancelar</button>
            <button type="submit" class="btn btn-primary btn-lg" ng-click="createEquipamento()">Salvar</button>                 

        </div><!-- FIM BOTAO SALVAR -->
      </div><!-- FIM CAIXA DADOS TECNICOS-->

    </div><!-- FIM TABS CROMA E FQ -->
    </form>


</div><!-- FIM CONTAINER GERAL -->


<footer>
    <div class="text-center text-muted">
        <p>Developed by <a href="results">Smarttech</a>.</p>
    </div>
</footer>


